@import url("https://fonts.googleapis.com/css?family=Inconsolata");
.center {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center; }

.input {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 30px;
  background-color: #151923;
  border: none;
  color: #fff;
  border-bottom: 2px solid #d8d8d8; }
  @media (max-width: 992px) {
    .input {
      font-size: 25px; } }
  @media (max-width: 767px) {
    .input {
      font-size: 20px; } }
  @media (max-width: 480px) {
    .input {
      font-size: 16px; } }

.input::placeholder {
  color: #1C212A; }

.input:focus {
  outline: none; }

.welcome {
  color: #fff;
  margin-bottom: 20px; }

.button {
  background-color: #00AF79;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-left: 30px; }
  @media (max-width: 767px) {
    .button {
      font-size: 14px;
      padding: 13px 20px; } }
  @media (max-width: 480px) {
    .button {
      font-size: 12px; } }
