@import "../base/fonts.scss";
@import "../abstracts/variables.scss";

.title {
    color: white;
    padding: 40px;
    font-family: $lato;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    @include respond-to(small) {
      font-size: 35px
    }
    @include respond-to(xsmall) {
      font-size: 25px;
      padding: 30px;
    }
    @include respond-to(xxsmall) {
        font-size: 20px;
        padding: 25px;
    }
}

.title-container {
  background: map-get($colors, green);
  left:0;
  width:100%;
  top:0;
  position: relative;
  margin: 0px;
}
