@import "../base/fonts.scss";
@import "../abstracts/variables.scss";

.title {
    color: white;
    font-family: $inconsolata;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    @include respond-to(medium) {
      font-size: 25px
    }
    @include respond-to(small) {
      font-size: 20px
    }
    @include respond-to(xsmall) {
      font-size: 16px;
    }
}

.title-container {
  background: map-get($colors, green);
  left:0;
  width:100%;
  top:0;
  position: relative;
  margin-bottom: 40px;
}
