@import "../base/fonts.scss";
@import "../abstracts/variables.scss";


.center {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.header {
  color: #fff;
  margin-top: 20px;
  font-size: 25px;
  font-family: $lato;
  font-weight: 300;
  @include respond-to(small) {
    font-size: 20px;
  }
}

.ul-container {
  display: flex;
  //background: red;
  flex-direction: column;
  align-items: flex-start;
  min-width: 500px;
  @include respond-to(medium) {
    min-width: 450px;
  }
  @include respond-to(small) {
    min-width: 400px;
  }
  @include respond-to(xsmall) {
    min-width: 300px;
  }
  @include respond-to(xxsmall) {
    min-width: 250px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  color: #151923;
  font-size: 25px;
  font-family: $lato;
  font-weight: 300;
  border-bottom: 2px solid #fff;
  background: #fff;
  border-radius: 5px;
  padding: 12px 20px;
  display: inline-block;
  margin-bottom: 16px;
  @include respond-to(medium) {
    font-size: 25px;
  }
  @include respond-to(small) {
    font-size: 20px;
  }
  @include respond-to(xsmall) {
    font-size: 16px;
  }
}

.close-button {
  margin-left: 20px;
  color: #151923;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  border-radius: 500000px;

    background: #151923;
    color: #fff;
  @include respond-to(medium) {
    font-size: 25px;
  }
  @include respond-to(small) {
    font-size: 20px;
  }
  @include respond-to(xsmall) {
    font-size: 16px;
  }
}

.close-button:hover {
  background: #ff3333;
  color: #fff;
  cursor: pointer;
}
